<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.StillAliveLarpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.StillAliveLarp"
        tools:targetApi="31">
        <activity
            android:name=".views.account.admin.ManageCampFortificationsActivity"
            android:exported="false" />
        <activity
            android:name=".views.community.ViewCampStatusActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.EventsListActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.ViewCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.ViewAwardsActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.CharactersListActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.SkillsListActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.ViewCharacterStatsActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.ViewPlayerStatsActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.PlayersListActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.ViewPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".views.community.ViewResearchProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ManageResearchProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ManageNPCActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.ViewNPCStuffActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.NPCListActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.CharacterPlannerActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.NativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.PersonalNativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.PlannedCharacterPersonalNativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.OtherCharacterPersonalNativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.NPCPersonalNativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ViewEventAttendeesActivity"
            android:exported="false" />
        <activity
            android:name=".utils.SAImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.CreateEditFeatureFlagActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.DeleteSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.EditProfileImageActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.FeatureFlagManagementActivity"
            android:exported="false" />
        <activity
            android:name=".views.rules.ViewRulesActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.ViewGearActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.AddEditGearActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ManageGearActivty"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.EditEventActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ManageEventActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.CreateNewEventActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ChangePlayerPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ManageIntrigueActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.CreateAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.AwardCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.AwardPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.SelectSkillForClassXpReductionActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.CheckOutPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.CheckInPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".utils.CaptureActivityPortrait"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".views.account.admin.ContactDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ContactListActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ApproveBioActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.XpReductionsListActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.ManageAccountActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.EditBioActivity"
            android:exported="false" />
        <activity
            android:name=".views.shared.ViewBioActivity"
            android:exported="false" />
        <activity
            android:name=".views.home.PreregActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.admin.ViewPreregsForEventActivity"
            android:exported="false" />
        <activity
            android:name=".utils.templates.ActivityTemplate"
            android:exported="false" />
        <activity
            android:name=".views.home.CreateCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".views.home.CheckOutBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".views.home.CheckInBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".views.account.AddSkillActivity"
            android:exported="false" />
        <activity
            android:name=".views.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".views.startpage.CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".views.startpage.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".views.startpage.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>