<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.StillAliveLarpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.StillAliveLarp"
        tools:targetApi="31">
        <activity
            android:name=".EventsListActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".ViewCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".ViewAwardsActivity"
            android:exported="false" />
        <activity
            android:name=".CharactersListActivity"
            android:exported="false" />
        <activity
            android:name=".ViewSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewCharacterStatsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPlayerStatsActivity"
            android:exported="false" />
        <activity
            android:name=".PlayersListActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".ViewResearchProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageResearchProjectsActivity"
            android:exported="false" />
        <activity
            android:name=".ManageNPCActivity"
            android:exported="false" />
        <activity
            android:name=".ViewNPCStuffActivity"
            android:exported="false" />
        <activity
            android:name=".NPCListActivity"
            android:exported="false" />
        <activity
            android:name=".CharacterPlannerActivity"
            android:exported="false" />
        <activity
            android:name=".NativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalNativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".PlannedCharacterPersonalNativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".OtherCharacterPersonalNativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".NPCPersonalNativeSkillTreeActivity"
            android:exported="false" />
        <activity
            android:name=".ViewEventAttendeesActivity"
            android:exported="false" />
        <activity
            android:name=".SAImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEditFeatureFlagActivity"
            android:exported="false" />
        <activity
            android:name=".RefundSkillsActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileImageActivity"
            android:exported="false" />
        <activity
            android:name=".FeatureFlagManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ViewRulesActivity"
            android:exported="false" />
        <activity
            android:name=".ViewGearActivity"
            android:exported="false" />
        <activity
            android:name=".AddEditGearActivity"
            android:exported="false" />
        <activity
            android:name=".ManageGearActivty"
            android:exported="false" />
        <activity
            android:name=".EditEventActivity"
            android:exported="false" />
        <activity
            android:name=".ManageEventActivity"
            android:exported="false" />
        <activity
            android:name=".CreateNewEventActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePlayerPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ManageIntrigueActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".AwardCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".AwardPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".SelectSkillForClassXpReductionActivity"
            android:exported="false" />
        <activity
            android:name=".CheckOutPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".CheckInPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".utils.CaptureActivityPortrait"
            android:screenOrientation="sensorPortrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ContactDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ContactListActivity"
            android:exported="false" />
        <activity
            android:name=".ApproveBioActivity"
            android:exported="false" />
        <activity
            android:name=".SpecialClassXpReductionsActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAccountActivity"
            android:exported="false" />
        <activity
            android:name=".EditBioActivity"
            android:exported="false" />
        <activity
            android:name=".ViewBioActivity"
            android:exported="false" />
        <activity
            android:name=".PreregActivity"
            android:exported="false" />
        <activity
            android:name=".ViewPreregsForEventActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityTemplate"
            android:exported="false" />
        <activity
            android:name=".CreateCharacterActivity"
            android:exported="false" />
        <activity
            android:name=".CheckOutBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".CheckInBarcodeActivity"
            android:exported="false" />
        <activity
            android:name=".tabbar_fragments.account.AddSkillActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ContactActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>